@import '../../variables';

.join-page {
  padding-top: $navbar-height + 3rem;

  .chapter {
    width: 100%;
    margin-bottom: 2rem;
    line-height: 2.2rem;
  }

  // 行业介绍
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .table {
      width: 90%;
      margin: 0 5%;

      .table-text {
        position: relative;
        top: 2rem;
      }

      img {
        width: 100%;
      }
    }

    .text-wrapper {
      margin: 2rem 0;
      padding: 0 2rem;

      p {
        margin: 1rem 0;
        line-height: 1.8rem;
      }
    }

    .trial {
      display: inline-block;
      margin-bottom: 6rem;

      .trial-btn {
        display: block;
        width: 8rem;
        padding: 0.6rem 1rem;
        margin-left: auto;
        margin-right: auto;
    
        border-radius: 0.3rem;
        background: #76bdf8;
    
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        text-align: center;
        outline: none;
      }
    }
  }

  // 文化
  .culture {
    margin-bottom: 6rem;

    p {
      text-align: center;
    }
  }

  // 品格
  .spirit {
    padding: 0 2rem;
    margin-bottom: 6rem;

    table {
      width: 100%;
      td {
        text-align: center;
        padding: 0.5rem 0;

        .fill {
          display: inline-block;
          padding: 1rem 2rem;
          color: #fff;
          border-radius: 0.6rem;
          background: #90c4f4;
        }

        &:nth-child(even) {
          height: 3rem;
        }
        &:nth-child(odd) {
          height: 2rem;
        }
      }
    }
    i.dash {
      display: inline-block;
      width: 4rem;
      height: 4px;
      background: #4087c3;
      border-radius: 2px;
      &.dash-h {
        transform: rotateZ(0);
      }
      &.dash-x {
        transform: rotateZ(-52deg);
      }
    }
  }

  // 福利
  .welfare {
    padding: 0 1rem;
    margin-bottom: 6rem;

    table {
      width: 100%;
      td {
        padding: 0.5rem 0;
        text-align: center;
      }
    }
  }

  // 招聘
  .join-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url('/assets/img/offer/bg.png') no-repeat center bottom;
    background-size: cover;

    .jobs-list {
      position: relative;
      height: 60%;
    }

    .info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;
      width: 100%;

      .qrcode {
        display: flex;
        align-items: flex-start;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
        .image {
          margin: 0 0.5rem;
          width: 4.5rem;
          img { width: 100%; }
          .name {
            width: 100%;
            text-align: center;
            font-size: 0.8rem;
            font-weight: bold;
            color: #fff;
            white-space: nowrap;
            transform: scale(0.8);
          }
        }
      }

      .address {
        padding: 0.2rem 1rem 0.2rem 0;
        font-size: 0.8rem;
        line-height: 0.8rem;
        color: #fff;

        p {
          font-size: 0.8rem;
        }

        a {
          color: #fff;
          font-size: 0.8rem;
          // text-decoration: none;
        }
      }
    } // .info end

    .copyright {
      padding: 0.5em 0 1.5rem 0;
      color: #fff;
      text-align: center;

      p {
        font-size: 0.8rem;
      }
    }
  }
}