<div class="join-page m-container">
  <!-- 行业介绍 -->
  <div class="info">
    <h2 class="chapter">
      建材家居行业时世界上 <br>
      数字化/互联网化最低对行业之一
    </h2>

    <div class="table">
      <div class="table-text">
        <p>十大传统行业均已有革命性商业模式出现</p>
        <p>过去10年以150%速度在互联网化</p>
      </div>
      <picture>
        <source media="(max-width: 414px)" srcset="assets/img/table@2x.png">
        <source media="(max-width: 768px)" srcset="assets/img/table@2x.png">
        <img srcset="assets/img/table@3x.png" alt="LOGO">
      </picture>
    </div>

    <div class="text">
      <p>
        若你有机会了解：建材家居无处不在。作为世界上最大和最传统
        的行业之一，它同时也是效率最滞后，数字化发展最慢的行业之
        一。云深间造结合云端数据，视觉成像，智能算法为移动环境应
        用而生，旨在帮助建材家具前端销售/选购“走进新时代”。
      </p>
      <p>
        加入我们撬动亿万级市场模式的使命。我们对创造和推广用户钟爱
        的软件产品充满热枕。想象吧，67% 的云深客户在6个月内收获了
        92%的销量和效率增长，在这市场低迷的十年，是闻所未闻的。
      </p>
    </div>

    <div class="trial">
      <!-- <div class="trial-arrow-up"></div> -->
      <a routerLink="/trial" class="trial-btn">立即体验</a>
    </div>
  </div>
  <!-- 行业介绍 end -->

  <!-- 文化 -->
  <div class="culture">
    <h2 class="chapter">我们的文化</h2>
    <p>在云深间造，我们努力工作，彼此尊重，追求极致。</p>
    <p>我们的团队由世界名校，知名机构的多样性人才组成，来自微软，</p>
    <p>中兴。等百强企业平均智商118的工程师及来自德勒、</p>
    <p>百胜中国、凯捷咨询的资深运营管理层。</p>
  </div>
  <!-- 文化 end -->
  
  <!-- 品格 -->
  <div class="spirit">
    <h2 class="chapter">我们的品格</h2>
    <table vertical="center">
      <tr>
        <td><div class="fill">追求极致</div></td>
        <td><i class="dash dash-h"></i></td>
        <td><div class="fill">勇敢无畏</div></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2"><i class="dash dash-x"></i></td>
      </tr>
      <tr>
        <td colspan="3"><div class="fill">辩证理性</div></td>
      </tr>
      <tr>
        <td colspan="2"><i class="dash dash-x"></i></td>
        <td></td>
      </tr>
      <tr>
        <td><div class="fill">敏捷执行</div></td>
        <td><i class="dash dash-h"></i></td>
        <td><div class="fill">突破自我</div></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2"><i class="dash dash-x"></i></td>
      </tr>
      <tr>
        <td class="fill" colspan="3">
          <div class="fill">我们期待新鲜血液<br>我们期待独特思维</div>
        </td>
      </tr>
    </table>
  </div>
  <!-- 品格 end -->

  <!-- 福利 -->
  <div class="welfare">
    <h2 class="chapter">我们的福利</h2>
    <table>
      <tr>
        <td>五险一金</td>
        <td>差旅报价</td>
        <td>团建活动</td>
        <td>话费补贴</td>
      </tr>
      <tr>
        <td>别墅宿舍</td>
        <td>年度体检</td>
        <td>免费零食</td>
        <td>技术分享</td>
      </tr>
      <tr>
        <td colspan="2">每周下午茶</td>
        <td colspan="2">工作日三餐</td>
      </tr>
    </table>
  </div>
  <!-- 福利 end -->

  <!-- 招聘 -->
  <div class="full-page join-us">
    <h2 class="chapter">与飞速发展的行业革新者一起成长</h2>

    <div class="jobs-list">
      <my-iphone [data]="jobsData"></my-iphone>
    </div>

    <div class="info">
      <div class="qrcode">
        <div class="image">
          <img src="assets/img/qrcode_helper.png" alt="helper">
          <div class="name">云深小助手</div>
        </div>
        <div class="image">
          <img src="assets/img/qrcode_gzh.png" alt="gzh">
          <div class="name">云深公众号</div>
        </div>
      </div>
      <div class="address">
        <p>公司邮箱：<a href="mailto:service@wecareroom.com">service@wecareroom.com</a></p>
        <p>客服电话：<a href="tel:15323894017">153 2389 4017</a></p>
        <p>公司地址：深圳市南山区沙河街道新世纪豪园城市山谷三期玉兰街 6A-16</p>
      </div>
    </div>
    <div class="copyright">
      <p>ICP主体备案号：粤ICP备16090858号</p>
      <p>网站备案号：粤ICP备16090858号 - 1</p>
    </div>
  </div>
  <!-- 招聘 end -->
</div>