<div class="product-page">
  <!-- GIF -->
  <div class="full-page gif">
    <div class="text-wrapper">
      <h2>降低运营成本的门店升级方案</h2>
      <p>基于空间计算与深度学习的新一代家居3D交互引擎，</p>
      <p>以VR设计，数字营销，在线云服务的产品形式，</p>
      <p>让中国家居建材企业和直营门店快速实施</p>
      <p>智能化选购，和数据化管理方案。</p>
    </div>
  
    <div class="gif-wrapper">
      <div class="bg"></div>

      <div class="row reverse">
        <div class="image">
          <img scaleContent="false" maintainAspectRatio="true" src="assets/img/gif/gif1.gif" alt="gif1">
        </div>
        <div class="text">方案快速分享，全平台营销传播</div>
      </div>
      <div class="row">
        <div class="image">
          <img scaleContent="false" maintainAspectRatio="true" src="assets/img/gif/gif2.gif" alt="gif1">
        </div>
        <div class="text">客户案例自动播放，影片级效果展示</div>
      </div>
      <div class="row mt reverse">
        <div class="image">
          <img scaleContent="false" maintainAspectRatio="true" src="assets/img/gif/gif3.gif" alt="gif1">
        </div>
        <div class="text">全国户型匹配，DIY定制家装</div>
      </div>
    </div>
  </div>
  <!-- GIF end -->

  <!-- timeline1 -->
  <div class="timeline-wrapper timeline-1">
    <h2 class="chapter">为您提供6种直观价值</h2>
    <time-line class="timeline" [data]="data1"></time-line>
  </div>
  <!-- timeline1 end -->

  <!-- timeline2 -->
  <div class="timeline-wrapper timeline-2">
    <h2 class="chapter">区别其他3D类软件的5大优势</h2>
    <time-line class="timeline" [data]="data2"></time-line>
  </div>
  <!-- timeline2 end -->

  <!-- 立即体验 -->
  <div class="full-page trial">
    <div class="top">
      <picture>
        <source media="(max-width: 414px)" srcset="assets/img/trial@2x.png">
        <source media="(max-width: 768px)" srcset="assets/img/trial@2x.png">
        <img srcset="assets/img/trial@3x.png" alt="LOGO">
      </picture>
      <a href="/trial" class="btn">立即体验</a>
    </div>
    <div class="bottom">
      <h2 class="chapter">关注云间深造官方公众号<br>获取最新VR可视化系统最新消息</h2>
      <p class="text">1. 微信扫码关注云深公众号</p>
      <p class="text">2. 扫码联系云深小助手</p>
      <div class="qrcode">
        <div class="image">
          <img src="assets/img/qrcode_gzh.png" alt="gzh">
          <p class="text">微信公众号</p>
        </div>
        <div class="image">
          <img src="assets/img/qrcode_helper.png" alt="xzs">
          <p class="text">微信小助手</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 立即体验 end -->
</div>