$primary-font: "Roboto", "Helvetica", "Arial", sans-serif;
$break-small: 320px;
$break-mobile: 800px;
$break-large: 1200px;

// color
$blue-black: #0e131e;
$deep-blue: #146faf;
$normal-blue: #1d82cc;
$light-blue: #76bef8;
$gray: #cdced0;

// 导航条高度
$navbar-height: 3.6rem;