<div class="team-page">
  <!-- 使命 -->
  <div class="mission">
    <h2 class="chapter">我们的使命</h2>
    <p class="text">云深间造成立于2016年，前身为美国</p>
    <p class="text">720Explorer 全景平台。我们致力于发展本质意为增</p>
    <p class="text">强人与人的真实联系与体验的技术。我们专注于虚拟现</p>
    <p class="text">实和人工智能的结合在泛家居领域的应用，致力于帮助</p>
    <p class="text">家居建材品解锁沉浸式、高效、智能的营销体验。</p>
  </div>
  <!-- 使命 end -->
  
  <!-- team -->
  <div class="team">
    <h2 class="chapter">我们的团队</h2>
    <div class="team-wrapper">
      <div [ngClass]="{'hide': tabIndex === 2}" class="team-list team-list-1">
        <div *ngFor="let person of team1; let i = index" class="team-item" [ngClass]="{'reverse': i % 2 === 1}">
          <div class="image"><img [src]="person.imgUrl" alt="imgUrl"></div>
          <div class="intro">{{ person.name }}<br>{{ person.position }}</div>
        </div>
      </div>
      <div [ngClass]="{'hide': tabIndex === 1}" class="team-list team-list-2">
        <div *ngFor="let person of team2; let i = index" class="team-item" [ngClass]="{'reverse': i % 2 === 1}">
          <div class="image"><img [src]="person.imgUrl" alt="imgUrl"></div>
          <div class="intro">{{ person.name }}<br>{{ person.position }}</div>
        </div>
      </div>
      <div class="more" (click)="switchTab()"><a href="javascript:void(0);">
        更多成员介绍 <span class="icon-more">❯❯❯</span></a>
      </div>
    </div>
  </div>
  <!-- team end -->

  <!-- 招聘 -->
  <div class="join-us">
    <a routerLink="/join-us" class="trial-btn">和我们一起工作</a>
  </div>
  <!-- 招聘 end -->
</div>

<footer-component></footer-component>
