@import '../../variables';

.team-page {
  padding-top: $navbar-height + 3rem;

  .chapter {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  // 使命
  .mission {
    padding: 0 1rem;
    margin-bottom: 5rem;
    box-sizing: border-box;
    text-align: center;
  }

  // team
  .team {
    margin: 0 auto 3rem auto;
    max-width: 600px;

    .team-list {
      width: 100%;
      transition: all 500ms;

      .team-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem 4.5rem;

        .image {
          height: 80px;
          padding: 0 1rem;
          img {
            -webkit-border-radius: 50%;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            object-fit: cover;
          }
        }

        .intro {
          flex: 1;
          text-align: center;
          font-size: 0.85rem;
          color: #222;
        }

        &.reverse {
          flex-direction: row-reverse;
        }
      }
    }

    .team-wrapper {
      position: relative;
      overflow: hidden;

      .team-list-2 {
        position: absolute;
        top: 5rem;
      }

      .team-list-1.hide {
        transform: translateX(-100vw);
      }
      .team-list-2.hide {
        transform: translateX(100vw);
      }
    }

    .more {
      margin: 2rem;
      text-align: right;

      a {
        font-size: 0.8rem;
        font-weight: normal;
        text-decoration: none;
        color: #333;

        .icon-more {
          font-family: serif;
          color: $light-blue;
        }
      }
    }
  }

  // 招聘
  .join-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;

    a {
      display: inline-block;
      background: #76bdf8;
      padding: 0.6rem 2rem;
      color: #fff;
      text-decoration: none;
      border-radius: 0.3rem;
    }
  }
}