<div class="home-page">
  <!-- 首页动画 -->
  <div class="full-page animation">
    <div class="animation-wrapper">
      <animation-bg [width]="screenWidth" [height]="screenHeight"></animation-bg>
    </div>
    <div class="banner-wrapper">
      <h1>做打动人心的智能门店</h1>
      <p>一流泛家居企业共同选择</p>
      <p>移动端领先的三维零售方案</p>
      <div class="trial">
        <a routerLink="/trial" class="trial-btn">立即体验</a>
      </div>
    </div>
  </div>
  <!-- 首页动画 end -->

  <!-- 一分钟了解我们 -->
  <div class="learn-about-us">
    <div class="video-container video">
      <div class="bg-blue"></div>
      <h2 class="chapter">一分钟了解我们</h2>
      <div class="video-wrapper">
        <div *ngIf="showPoster" class="video-poster"></div>
        <div *ngIf="!isPlay" class="video-mask" (click)="toggleVideo()"></div>
        <video #video preload="auto" (click)="toggleVideo()" src="http://wecareroom.com/upload/tamuVedio/tamu.mp4">你的浏览器不支持 HTML 5</video>
      </div>
    </div>
    <div class="video-text">
      <h2 class="chapter">为门店销售量身打造</h2>
      <p class="text">在云深间造，带您的客户随时置身于不同空间场景。</p>
      <p class="text">通过令人惊叹的实景图像，直觉操作，</p>
      <p class="text">在最熟悉带日常中，挑选最合适的产品。</p>
      <p class="text">智能时代带品牌升级，您可以轻松拥有！</p>
    </div>
  </div>
  <!-- 一分钟了解我们 end -->

  <!-- 合作伙伴 -->
  <div class="partner">
    <h2 class="chapter">我们的合作者</h2>
    <p class="text">他们已经跨入未来领先时代</p>
    <p class="text">你还在观望吗？</p>
    <div class="partner-group" *ngFor="let partners of partnerGroup; let i = index">
      <div class="partner-item" *ngFor="let item of partners">
          <picture>
            <source media="(max-width: 414px)" [srcset]="'assets/img/partner/' + item.url + '@2x.png'">
            <source media="(max-width: 768px)" [srcset]="'assets/img/partner/' + item.url + '@3x.png'">
            <img [srcset]="'assets/img/partner/' + item.url + '@3x.png'" alt="LOGO">
          </picture>
        </div>
      <div class="tips" *ngIf="i === partnerGroup.length - 1"><span>此排名不分先后</span></div>
      <div class="down" *ngIf="i === partnerGroup.length - 1">⊻</div>
    </div>
  </div>
  <!-- 合作伙伴 end -->
</div>

<div class="arrow">
  <div *ngIf="showArrow" class="trial-arrow-up"></div>
</div>

<footer-component></footer-component>
