@import '../../variables';

.animation {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .animation-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #05223b;
  }

  .banner-wrapper {
    text-align: center;
    color: #fff;

    h1 {
      font-size: 2rem;
      font-weight: bold;
    }
    
    p {
      margin: 0.5rem;
      font-size: 1rem;
      font-weight: bold;
    }

    .trial {
      padding-top: 4rem;

      .trial-btn {
        display: block;
        width: 8rem;
        padding: 0.6rem 1rem;
        margin: 0.5rem auto;
    
        border: 1px solid #ddd;
        border-radius: 0.3rem;
        box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.1);
        background: #fff;
    
        color: $blue-black;
        text-decoration: none;
        font-size: 1rem;
        text-align: center;
        outline: none;
      }
    }
  }
}

.learn-about-us {
  position: relative;
  padding-top: 5rem;

  .video-container {
    width: 100%;
    margin-bottom: 3rem;

    &.video {
      position: relative;

      .chapter {
        padding-top: 1rem;
      }

      .bg-blue {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 30%;
        z-index: -1;
        width: 100%;
        height: 30vh;
        background: #77bef8;
      }

      .video-wrapper {
        position: relative;
        border-bottom: 2.5px solid #0b7dc6;
        padding: 0 5vw;
        margin: 0 5vw;
        line-height: 0;

        video {
          width: 100%;
          border-radius: 0.6rem;
        }

        .video-mask,
        .video-poster {
          position: absolute;
          left: 5vw;
          right: 5vw;
          top: 0;
          bottom: 0;
          border-radius: 0.6rem;
        }
        .video-mask {
          z-index: 2;
          background: url('/assets/img/pause.png') no-repeat center, rgba($color: #000000, $alpha: 0.5);
          background-size: 4rem 4rem;
        }
        .video-poster {
          z-index: 1;
          background: url('/assets/img/video_poster.png') no-repeat center;
          background-size: cover;
        }
      }
    }
  }

  .video-text {
    height: 50%;
    margin: 3rem 0 6rem 0;

    .text {
      margin: 0.2rem;
      text-align: center;
    }
  }
}

.partner {
  padding: 0 1rem;

  .text {
    text-align: center;
    font-size: 1rem;
    margin: 0.2rem;
  }

  .partner-group {
    position: relative;
    margin: 2rem 0;
    padding: 1.5rem 1rem;
    border-radius: 0.3rem;
    background: #91c5f4;

    .partner-item {
      display: inline-block;
      width: 50%;
      font-size: 0;
      line-height: 0;

      img {
        width: 100%;
        padding: 0.3rem 0.3rem;
        box-sizing: border-box;
      }
    }
    .tips {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 30%;
      left: 50%;
      width: 50%;
      line-height: 1.5rem;
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
      color: #fff;
    }

    .down {
      padding-top: 3rem;
      transform: scaleY(0.4);
      font-size: 5rem;
      color: #fff;
      opacity: 0.5;
      text-align: center;
    }
  }
}

.arrow {
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;

  .trial-arrow-up {
    width: 3rem;
    height: 1rem;
    margin: 0 auto;
    background: url('/assets/img/arrow.png') no-repeat center;
    background-size: contain;
  
    animation: slide 3s ease-out 0s infinite forwards;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 5px, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(0, 5px, 0);
    opacity: 0;
  }
  70% {
    transform: translate3d(0, -10px, 0);
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}